version: v1alpha1
metadata:
  name: util-linux-mountpoint
  version: "{{ .VERSION }}"
  author: Sidero Labs
  description: |
    [{{ .TIER }}] This system extension provides a minimal util-linux package with mountpoint for CSI compatibility.
  compatibility:
    talos:
      version: ">= v1.0.0"
